<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sazik Note</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/images/128x128.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/Icon-76@2x.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Sazik Note" />
    <meta name="msapplication-TileImage" content="/images/Icon-72@2x.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!-- get robot font-->
    <link rel="stylesheet" href="/index.css">
    <script src="/socket.io/socket.io.js"></script> <!-- Require socket.io file-->
    
    <!-- get the unique url from the server-->
    <script>
        const url = "<%=url%>"
        const yaziicerigi = `<%=yaziicerigi%>`
    </script>
</head>
<body>
    <header>
        <div class="intro"><a href="/">Sazik Note</a></div>
    </header>
    <main>
        <div class="container">
            <textarea cols="30" rows="10" id="textInput"></textarea>
        </div>
    </main>
    <footer>
        <div class="column">
        Count whitespaces &nbsp;&nbsp;<input type="checkbox" id="whitespace">

        </div>
        <div class="column"></div>
        <div class="column"><div id="characters">Characters: 0</div><div id="words">Words: 0</div></div>
        
    </footer>
    
    
    <script src="/index.js"></script>

</body>
</html>