<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sazik Note</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/images/128x128.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/Icon-76@2x.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Sazik Note" />
    <meta name="msapplication-TileImage" content="/images/Icon-72@2x.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- get robot font-->
    <link rel="stylesheet" href="/index.css" />
    <script src="/socket.io/socket.io.js"></script>
    <!-- Require socket.io file-->

    <!-- get the unique url from the server-->
    <script>
      const url = "<%=url%>";
      const yaziicerigi = `<%=yaziicerigi%>`;
      const password = `<%=password%>`;
    </script>
  </head>

  <body>
    <header>
      <div class="intro"><a href="/">Sazik Note</a></div>
    </header>
    <main>
      <div class="container">
        <textarea cols="30" rows="10" id="textInput"></textarea>
      </div>
      <div class="chat-area" onclick="showChat();">
        <p>CHAT</p>
      </div>
    </main>

    <footer>
      <div class="column onlyDesktop">
        Count whitespaces &nbsp;&nbsp;<input type="checkbox" id="whitespace" />
        <div id="characters">Characters: 0</div>
        <div id="words">Words: 0</div>
      </div>
      
      
      <!-- AddToAny BEGIN -->
      <div class="column a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_email"></a>
        <a class="a2a_button_whatsapp"></a>
        <a class="a2a_button_linkedin"></a>
        <a class="a2a_button_telegram"></a>
      </div>
      <!-- AddToAny END -->
      <div class="column onlyDesktop">
        <div id="userCount"></div>
      </div>
    </footer>
    <div class="chat-panel">
      <div class="header">
        <img
          src="https://ouch-cdn2.icons8.com/CohNsulIDAJsIIvEY-gZOh3MUYYegmg2V0ptJOVXqP4/rs:fit:760:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNTA4/LzkwYWFiZjFlLTFj/ZGItNGQ5Zi1iOGNk/LTAyOGY1YzFmMTg4/ZS5wbmc.png"
          alt=""
        />
        <div>
          <h2 id="chatName">Chat with Vincent Porter</h2>
        </div>
        <img
          src="https://img.icons8.com/ios-glyphs/30/fa314a/macos-close.png"
          alt="close"
          onclick="hiddenChat();"
        />
      </div>
      <ul id="chat"></ul>
      <div class="footer">
        <textarea
          id="sendMessageArea"
          placeholder="Type your message"
        ></textarea>
        <span id="sendMessage" onclick="messageSender();">Send</span>
      </div>
    </div>
    <div class="pass-area">
      <label>Password:</label>
      <input type="text" oninput="passwordChange()" id="passwordInput">
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>

    <script src="/index.js"></script>
  </body>
</html>
