<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Note</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!-- get robot font-->
    <link rel="stylesheet" href="/index.css">
    <script src="/socket.io/socket.io.js"></script> <!-- Require socket.io file-->
    
    <!-- get the unique url from the server-->
    <script>
        const url = "<%=url%>"
        const yaziicerigi = `<%=yaziicerigi%>`
    </script>
</head>
<body>
    <!-- Title to refresh room-->
        <form name="refresh-form" action="/" method="POST">
            <div class="intro">Sazzy Not Defteri</div>
        </form>
        <div class="div-whitespace">
            Count whitespaces &nbsp;&nbsp;<input type="checkbox" id="whitespace">
        </div>
        
        <hr>
    <div class="container">
        <textarea cols="30" rows="10" id="textInput"></textarea>
    </div>
    <hr/>
    <div class="notes">
        <div id="words">Words: 0</div>
        <div id="characters">Characters: 0</div>
    </div>
    <div class="notes">
        
    </div>
    
    <script src="/index.js"></script>

</body>
</html>