* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #bd96ff;
  color: white;
}

header {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0 0 35px 35px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

main {
  margin-top: 80px;
  height: calc(100vh - 150px);
  display: flex;
}

footer {
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 35px 35px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 10px;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

footer .column {
  width: auto;
  margin: 0 auto;
  padding: 0.51rem;
  text-align: center;
  font-size: 10px;
}

/* width */
::-webkit-scrollbar {
  margin-right: 10px;
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bd96ff;
  margin-right: 10px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a;
  margin-right: 10px;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c1c;
  margin-right: 10px;
}

textarea {
  width: 100%;
  resize: none;
  height: 100%;
  padding: 1px;
  padding-left: 20px;
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin-right: 1px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(145deg, #9f7ee5, #bd96ff);
  box-shadow: 20px 20px 60px #9677d8, -20px -20px 60px #cca1ff;

  height: 100%;
}

.chat-area {
  width: 5%;
  height: 100%;
  background-color: #39dbc2;
  border-radius: 5px 0 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chat-area p {
  transform: rotate(270deg);
}

.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

.chat-panel {
  display: none;
  z-index: 1;
  margin-top: 80px;
  height: calc(100vh - 150px);
  font-size: 15px;
  vertical-align: top;
  border-radius: 5px;
  background: #9f7ee5;
  box-shadow: -20px 20px 60px #876bc3, 20px -20px 60px #b791ff;
}

.chat-panel .header {
  height: 100px;
}
.chat-panel .header > * {
  display: inline-block;
  vertical-align: top;
}
.chat-panel .header img:first-child {
  border-radius: 50%;
  max-width: 50px;
}

.chat-panel .header img:last-child {
  width: 24px;
  margin-top: 8px;
}
.chat-panel .header div {
  margin-left: 10px;
  margin-right: 145px;
}
.chat-panel .header h2 {
  font-size: 16px;
  margin-bottom: 5px;
}
.chat-panel .header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #f1f1f1;
}

#chat {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  height: calc(100% - 200px);
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
#chat li {
  padding: 10px 30px;
}
#chat h2,
#chat h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}
#chat h3 {
  color: #bbb;
}
#chat .entete {
  margin-bottom: 5px;
}
#chat .message {
  padding: 20px;
  color: #fff;
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}
#chat .me {
  text-align: right;
}
#chat .you .message {
  background-color: #58b666;
}
#chat .me .message {
  background-color: #6fbced;
}
#chat .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
}
#chat .you .triangle {
  border-color: transparent transparent #58b666 transparent;
  margin-left: 15px;
}
#chat .me .triangle {
  border-color: transparent transparent #6fbced transparent;
  margin-left: calc(100% - 35px);
}

.chat-panel .footer {
  height: 100px;
  display: flex;
}
.chat-panel .footer textarea {
  resize: none;
  border: none;
  display: block;
  width: 80%;
  height: 100px;
  border-radius: 3px;
  padding: 20px;
  font-size: 13px;
  margin-left: 13px;
}
.chat-panel .footer textarea::placeholder {
  color: #ddd;
}
.chat-panel .footer span {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #6fbced;
  vertical-align: top;
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
}

.intro {
  font-size: 1.5em;
  padding: 1rem;
  margin: 1rem;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.notes {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5;
}

.div-whitespace {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #f1f1f1;
  position: relative;
  display: inline-block;
  font-size: 23px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  white-space: nowrap;
  text-shadow: 1px 2px #39dbc2, 2px 3px #f41fbf, 3px 4px #f41fbf,
    4px 5px #f41fbf, 5px 6px #f41fbf, 6px 7px #f41fbf, 7px 8px #f41fbf,
    8px 9px #f41fbf, 9px 10px #f41fbf, 10px 11px #f41fbf, 11px 12px #f41fbf,
    12px 13px #f41fbf, 13px 14px #f41fbf, 14px 15px #f41fbf;
}
@media screen and (max-width: 600px) {
  .onlyDesktop{
    display: none;
  }
}
